

.watermark::after {
    content: "IMDB Agent can make mistakes. Consider checking important information."; 
    visibility: visible;
    font-family: Inter;
    font-size: 14px;
    position: absolute;
    text-align: center;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
  
}

a[href*='https://github.com/Chainlit/chainlit'] {
    visibility: hidden;
}

